/* Add a background color to the header element */
header {
    background-color: lightslategrey;
}
/* Add a fun background color to the main element */
main{
    background-color: plum;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    font-style : italic;
    color : darkslategrey
}
/* Put a border around your image */
img{
    border-style: solid;
    border-top-width : 10px;
    border-bottom-width : 10px;
    border-left-width : 10px;
    border-right-width : 10px;
    border-color : #aaaaaa;
}
/* Change the font-family of your list */
.alter{
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Add a background color to the footer element */
footer{
    background-color : lightslategrey;
}